@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <style>
            .actions {
                display: flex;
                justify-content: flex-end;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <form>
                <h4>Dados da compra:</h4>

                <div class="text-center mt-3">
                    @*<img src="@Model.Produto.Foto" width="150" height="150" />*@
                </div>

                <div class="text-center">
                    @*<label id="productName">@Model.Produto.Nome</label>*@
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-2">
                            <label for="quantidade">Quantidade</label>
                            <input type="number" class="form-control" id="quantidade">
                        </div>

                        <div class="col-12 col-sm-10">
                            <label for="endereco">Endereço</label>
                            <input type="text" class="form-control" id="endereco">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <label for="numeroCartao">Cartão</label>
                            <input type="text" class="form-control" id="numeroCartao">
                        </div>

                        <div class="col-12 col-sm-3">
                            <label for="dataValidade">Validade</label>
                            <input type="text" class="form-control" id="dataValidade">
                        </div>

                        <div class="col-12 col-sm-3">
                            <label for="cvvCard">CVV</label>
                            <input type="text" class="form-control" id="cvvCard">
                        </div>
                    </div>
                </div>

                <div class="mt-4 mb-5 actions">
                    <button id="submit" type="submit" class="btn btn-primary" onclick="salvar()">Avançar</button>
                    <button id="submit" class="btn btn-primary" onclick="obter()">Teste Todos</button>
                    <button id="submit" class="btn btn-primary" onclick="obterId()">Teste Id</button>
                </div>

            </form>
        </div>
    </body>
</html>

<script type="text/javascript">

    function salvar() {
        var carrinho = mapearObjetoParaSalvar();
        $.ajax({
            type: "POST",
            url: '@Url.Action("CriarCarrinho", "Carrinho")',
            data: JSON.stringify(carrinho),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                alert("Data has been added successfully.");
            },
            error: function () {
                alert("Error while inserting data");
            }
        });
    }


    function mapearObjetoParaSalvar() {
        var carrinho = {};
        carrinho.Quantidade = $("#quantidade").val();
        carrinho.Endereco = $("#endereco").val();
        carrinho.NumeroCartao = $("#numeroCartao").val();
        carrinho.DataValidade = $("#dataValidade").val();
        //carrinho.CVV = ("#cvvCard").val();
        return carrinho;
    }



    //TESTE DO BANCO NO AZURE (Obter Todos)
    function obter() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ObterTodos", "Produto")',
            contentType: "application/json; charset=utf-8",
            success: function () {
                alert("Data has been added successfully.");
            },
            error: function () {
                alert("Error while inserting data");
            }
        });
    }

    //TESTE DO BANCO NO AZURE (Obter por id)
    function obterId() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ObterPorId", "Produto")',
            contentType: "application/json; charset=utf-8",
            success: function () {
                alert("Data has been added successfully.");
            },
            error: function () {
                alert("Error while inserting data");
            }
        });
    }

</script>

